*,:before,:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background: #1B2838;
    background: url(/public/src/images/back/back2.jpg) repeat top center;
    background-size: cover;
}
.body-page {
    background: url(/public/src/images/page/back.jpg) repeat top center;
    background-size: cover;
}
strong, b {
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 9px;
    border-radius: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: #5e6674;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background-color: #F8F8F8;
}
.container {
    width: 1260px;
    padding: 0px 30px;
    margin: 0px auto;
    max-width: 100%;
}
.container-small {
    width: 1040px;
    padding: 0px 30px;
    margin: 0px auto;
    max-width: 100%;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 2700px;
    margin: 0px auto;
    position: relative;
}
main {
    min-height: 69vh;
}
img {
    max-width: 100%;
    display: block;
}
.main {
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    /*background: url(/public/src/images/back/back1.jpg) no-repeat top center;
    background-size: cover;*/
    display: flex;
    align-items: center;
    &-text {
        text-transform: uppercase;
        font-family: "BebasNeue", sans-serif;
        font-size: 100px;
        line-height: 90px;
        color: #fff;
        position: relative;
        margin-top: 140px;
        > span {
            color: $hover;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: -20px;
                bottom: 3px;
                width: 18px;
                height: 18px;
                background: url(/public/src/images/svg/quot-end.svg) no-repeat top center;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: -20px;
            top: -13px;
            width: 18px;
            height: 18px;
            background: url(/public/src/images/svg/quot-start.svg) no-repeat top center;
        }
    }
    &-qr {
        margin: 25px 0px 20px;
        display: block;
    }
}
.main-mobile {
    display: none;
}
.button-wrap {
    background: #20374D;
    width: fit-content;
    margin: 20px 0px 0px;
    padding: 5px 15px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .button {
        width: 100%;
    }
}
.button {
    display: inline-block;
    background: #CC1011;
    background: linear-gradient(124.25deg, #FF3434 20.06%, #C20909 78.98%);
    color: #fff;
    font-size: 19px;
    line-height: 1.4em;
    border-radius: 10px;
    padding: 18px 35px 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0px 10px 15px 0px #0000004D;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
       opacity: 0.9;
    }
}
.logo {
    display: inline-block;
    width: 165px;
    height: 202px;
    z-index: 150;
    background: url(/public/src/images/svg/logo.svg) no-repeat center center;
    &:active {
        transform: translateY(1px);
    }
}
.header-logo {
    position: absolute;
    left: 48px;
    left: 1.8%;
    top: 20px;
    z-index: 150;
    background-size: cover !important;
}
.header-info-logo {
    display: none;
}
.mobile-menu-btn {
    display: none;
}
.mobile-footer-copy {
    display: none;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: 100px;
    transition: all 0.2s ease-in-out;
    background: transparent;
    .container {
        height: 100%;
    }
    &-menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    &-info {
        display: flex;
        align-items: center;
        gap: 15px;
        .phone {
            font-size: 18px;
            line-height: 1.3em;
            font-weight: bold;
            color: #fff;
            margin-right: 1px;
            transition: all 0.15s ease-in-out;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    &.active {
        background: url(/public/src/images/back/back2.jpg) no-repeat top center;
        height: 75px;
        z-index: 200;
    }
}
.header-nav {
    display: flex;
    gap: 29px;
    align-items: flex-start;
    &-item {
        color: #fff;
        font-size: 17px;
        line-height: 1.4em;
        display: inline-block;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover, &.active {
            color: $hover;
        }
        &:active {
            transform: translateY(1px);
        }
    }
}
.soc {
    display: inline-block;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
        opacity: 0.9;
    }
    &1 {
        background: url(/public/src/images/svg/tg.svg) no-repeat center center;
        background-size: cover;
    }
    &2 {
        background: url(/public/src/images/svg/vk.svg) no-repeat center center;
        background-size: cover;
    }
}
.main-projects {
    width: 100%;
    background: url(/public/src/images/back/back2.jpg) no-repeat top center;
    background-size: cover;
    padding: 144px 0px 142px;
    .h2 {
        color: #fff;
        margin-bottom: 29px;
    }
    &-eagle {
        position: relative;
        &:before {
            content: "";
            width: 230px;
            height: 253px;
            position: absolute;
            left: -114px;
            top: -112px;
            background: url(/public/src/images/svg/eagle-big.svg) no-repeat top center;
        }
    }
    &-text {
        font-size: 18px;
        padding-right: 10%;
        p, strong, ul {
            display: block;
            margin-bottom: 21px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 300;
        }
        strong {
            font-size: 20px;
            line-height: 26px;
            color: #fff;
            font-weight: bold;
        }
        .button-wrap {
            margin-top: 40px;
        }
    }
    &-columns {
        margin-bottom: 130px;
    }
}
.columns {
    display: flex;
    align-items: center;
    .column {
        width: 50%;
    }
}
.projects {
    position: relative;
    white-space: nowrap;
    .swiper-slide {
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        img {
            display: block;
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
}
.swiper-container {
    overflow: hidden;
}
.swiper-button-disabled {
    opacity: 0.2;
}
.swiper-pagination.swiper-pagination-bullets {
    bottom: -39px;
    .swiper-pagination-bullet {
        background: #fff;
        width: 5px;
        height: 5px;
        opacity: 0.5;
        &-active {
            width: 24px;
            height: 5px;
            background: #FF3535;
            opacity: 1;
            border-radius: 100px;
        }
    }
}
.swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 60px;
    margin-top: -30px;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    background: #3C444F;
    &.swiper-button-disabled {
        opacity: 0.2;
        background: none;
    }
    &:hover {
        background: #454e5b;
    }
}
.swiper-button-prev {
    left: -50px;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: url(/public/src/images/svg/arrow-left.svg) no-repeat center center;
    }
}
.swiper-button-next {
    right: -50px;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: url(/public/src/images/svg/arrow-left.svg) no-repeat center center;
        transform: rotate(180deg);
    }
}
.h2-quot {
    position: relative;
    display: inline-block;
    &:after {
        content: '';
        position: absolute;
        right: -28px;
        bottom: -3px;
        width: 18px;
        height: 18px;
        background: url(/public/src/images/svg/quot-end.svg) no-repeat top center;
    }
    &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: -10px;
        width: 18px;
        height: 18px;
        background: url(/public/src/images/svg/quot-start.svg) no-repeat top center;
    }
}
.h1 {
    font-family: "BebasNeue", sans-serif;
    font-size: 80px;
    line-height: 66px;
    letter-spacing: 1.2px;
    color: #fff;
    margin: 0px 0px 45px -1px;
}
.h2 {
    font-family: "BebasNeue", sans-serif;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 1.2px;
}
.footer {
    width: 100%;
    background: url(/public/src/images/back/footer.jpg) no-repeat top center;
    background-size: cover;
    padding: 72px 0px 92px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &-center {
        padding-right: 11%;
    }
    &-menu {
        display: flex;
        gap: 55px;
        padding-top: 21px;
        &-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        &-item {
            color: #fff;
            font-size: 18.4px;
            line-height: 1.4em;
            display: inline-block;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
            border-bottom: 1px solid transparent;
            color: rgba(255, 255, 255, 0.7);
            letter-spacing: 0.1px;
            &:hover, &.active {
                color: $hover;
            }
        }
    }
    &-info {
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            width: 148px;
            height: 173px;
            position: absolute;
            right: -70px;
            top: -13px;
            background: url(/public/src/images/svg/eagle.svg) no-repeat top center;
            z-index: -1;
        }
        .phone {
            font-size: 18px;
            line-height: 1.3em;
            font-weight: bold;
            color: #fff;
            margin-right: 1px;
            transition: all 0.15s ease-in-out;
            margin-bottom: 24px;
            display: inline-block;
            &:hover {
                opacity: 0.9;
            }
        }
        .email {
            font-size: 18px;
            line-height: 1.3em;
            font-weight: bold;
            color: #FF3636;
            transition: all 0.15s ease-in-out;
            margin-bottom: 27px;
            display: inline-block;
            &:hover {
                color: #dd2525;
            }
        }
        .socs {
            display: flex;
            gap: 12px;
            .soc {
                width: 34px;
                height: 34px;
            }
        }
    }
    &-copy {
        color: #fff;
        margin-top: 32px;
        opacity: 0.5;
        font-weight: 200;
        letter-spacing: 0.4px;
        font-size: 14.4px;
    }
    .logo {
        margin: -23px 0px -29px -10px;
    }
}
.videos {
    position: relative;
    margin: 32px 0px 0px;
    .swiper-wrapper {
        display: flex;
        gap: 30px;
    }
    .swiper-initialized {
        .swiper-wrapper {
            gap: 0px;
        }
    }
    .swiper-slide {
        border-radius: 14px;
        overflow: hidden;
        position: relative;
        width: 48.5%;
        cursor: pointer;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:hover {
           .video-play {
               opacity: 0.8;
           }
           img {
               opacity: 0.95;
           }
        }
    }
    .video-play {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        cursor: pointer;
        background: url(/public/src/images/svg/play.svg) no-repeat top center;
        transition: all 0.15s ease-in-out;
    }
}
.pay {
    width: 100%;
    height: 904px;
    display: flex;
    justify-content: space-between;
    &-left, &-right {
        width: 50%;
    }
    &-left {
        height: 100%;
        background: url(/public/src/images/pay/pay-img.jpg) no-repeat center center;
        background-size: cover;
    }
    &-right {
        height: 100%;
        background: url(/public/src/images/pay/pay-back.jpg) no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    &-form {
        width: 600px;
        padding-left: 100px;
        .h2 {
            color: #fff;
            letter-spacing: 0.5px;
            width: 103%;
            margin-bottom: 31px;
            > span {
                display: block;
                color: $hover;
            }
        }
        .button {
            font-size: 18px;
            padding: 18px 26px 16px;
        }
    }
    &-box {
        background: #20374D;
        padding: 25px 22px 25px 25px;
        border-radius: 10px;
        margin-bottom: 5px;
        &-items {
            display: flex;
            gap: 10px;
            margin-bottom: 25px;
            flex-wrap: wrap;
        }
        &-item {
            background: #3A4B5D;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-size: 20px;
            line-height: 20px;
            padding-top: 3px;
            color: #fff;
            width: 23.15%;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
            &:hover, &.active {
                background: #397DC7;
            }
            i {
                font-style: normal;
                font-size: 18px;
                margin-top: 1px;
            }
        }
        &-item-input {
            width: 48.5%;
            padding: 3px 15px 0px;
            &:hover {
                background: #3A4B5D;
            }
            input {
                background: none;
                border: none;
                outline: none;
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                width: 100%;
                font-family: "Inter", sans-serif;
            }
        }
        &-head {
            font-family: "BebasNeue", sans-serif;
            font-size: 38px;
            line-height: 40px;
            color: #fff;
            letter-spacing: 0.3px;
            > span {
                color: $hover;
            }
        }
        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17px 25px 19px 25px;
            min-height: 110px;
            transition: all 0.15s ease-in-out;
        }
        &-link-href {
            &:hover, &.active {
                background: #397DC7;
            }
        }
        &-qr {
            width: 74px;
            height: 74px;
        }
        &-arrow {
            transform: rotate(180deg);
            &-mobile {
                display: none;
            }
        }
    }
}
.placeholder-wrap {
    position: relative;
    .placeholder {
        position: absolute;
        bottom: 15px;
        left: 16px;
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        pointer-events: none;
        background: none;
        font-size: 18px;
        line-height: 18px;
        color: #B4B9BF;
        font-weight: 300;
    }
    .placeholder-act {
        bottom: 34px;
        left: 15px;
        font-size: 10px;
        background: none;
    }
}
.main-back {
    width: 100%;
    background: url(/public/src/images/back/back2.jpg) no-repeat top center;
    background-size: cover;
    padding: 118px 0px 140px;
    .h2-back {
        position: relative;
        color: #fff;
        margin-bottom: 30px;
        letter-spacing: 0.4px;
        > span {
            display: block;
            color: $hover;
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                position: absolute;
                right: -19px;
                bottom: -7px;
                width: 18px;
                height: 18px;
                background: url(/public/src/images/svg/quot-end.svg) no-repeat top center;
            }
        }
        &:before {
            content: "";
            position: absolute;
            left: -19px;
            top: -16px;
            width: 18px;
            height: 18px;
            background: url(/public/src/images/svg/quot-start.svg) no-repeat top center;
        }
    }
    &-text {
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        padding-right: 1%;
    }
    &-logo-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-logo {
        width: 332px;
        height: 318px;
        margin: -30px 7% -35px 0px;
        /*background: url(/public/src/images/svg/logo-big.svg) no-repeat center center;*/
    }
}
.documents {
    position: relative;
    margin: 48px 0px 144px;
    height: 454px;
    .swiper-container {
        margin: -20px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        padding: 20px;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 22px;
    }
    .swiper-initialized {
        .swiper-wrapper {
            gap: 0px;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        margin-top: -10px;
    }
    .swiper-slide {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        background: #23354D;
        background: url(/public/src/images/documents/documents.jpg) no-repeat top left;
        background-size: cover;
        width: 32.1%;
        height: 100%;
        padding: 36px 36px 0px 40px;
        transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        box-shadow: 0px 10px 15px 0px transparent;
        cursor: pointer;
        &:hover {
            background: #3973B2;
            box-shadow: 0px 10px 15px 0px #0000004D;
            .documents-arrow {
                background: $hover;
            }
        }
    }
    &-head {
        font-family: "BebasNeue", sans-serif;
        color: #fff;
        font-size: 38px;
        line-height: 36px;
        letter-spacing: 0.4px;
        margin-bottom: 10px;
        max-height: 108px;
        overflow: hidden;
    }
    &-text {
        font-size: 18px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        max-height: 50px;
        overflow: hidden;
    }
    &-img {
        position: absolute;
        bottom: 0px;
        left: 40px;
        object-fit: cover;
        max-height: 240px;
        max-width: 240px;
    }
    &-arrow {
        width: 50px;
        height: 50px;
        background: #485871;
        border-radius: 100%;
        position: relative;
        position: absolute;
        bottom: 30px;
        right: 31px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            background: url(/public/src/images/svg/arrow.svg) no-repeat center center;
            margin-top: -10px;
            margin-left: -10px;
        }
    }
    .swiper-pagination {
        display: none;
    }
    .edit > div {
        margin-bottom: -5px;
    }
}
.medication-wrap {
    margin: 0px 0px 147px;
    .h2 {
        position: relative;
        color: #fff;
        margin-bottom: 40px;
        letter-spacing: 0.8px;
        > span {
            display: inline-block;
            color: $hover;
        }
    }
}
.medication {
    position: relative;
    height: 370px;
    .edit > div {
        margin-bottom: -5px;
    }
    .swiper-container {
        margin: -20px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        padding: 20px;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }
    .swiper-initialized {
        .swiper-wrapper {
            gap: 0px;
        }
    }
    .swiper-slide {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        background: #23354D;
        background: url(/public/src/images/medication/medication.jpg) no-repeat top left;
        background-size: cover;
        width: 48.75%;
        height: 100%;
        padding: 45px 36px 0px 40px;
        transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        &:hover {
            background: #3973B2;
            box-shadow: 0px 10px 15px 0px #0000004D;
            .documents-arrow {
                background: $hover;
            }
        }
    }
    .swiper-button-prev, .swiper-button-next {
        margin-top: -12px;
    }
    .swiper-pagination.swiper-pagination-bullets {
        bottom: -62px;
    }
    &-head {
        font-family: "BebasNeue", sans-serif;
        color: #fff;
        font-size: 38px;
        line-height: 38px;
        letter-spacing: 0.4px;
        margin-bottom: 24px;
        max-height: 77px;
        max-width: 64%;
        overflow: hidden;
    }
    &-items {
        display: flex;
        gap: 5px;
        max-width: 63%;
        flex-wrap: wrap;
        max-height: 118px;
        overflow: hidden;
        > span {
            color: #dfdfdf;
            background: rgba(255, 255, 255, 0.1);
            padding: 8px 16px 9px;
            border-radius: 22px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            display: inline-block;
            white-space: nowrap;
        }
    }
    &-link {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: $hover;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
    }
    &-img {
        position: absolute;
        bottom: 0px;
        right: 0px;
        max-width: 240px;
        max-height: 332px;
    }
}
.partners-wrap {
    .h2 {
        color: #fff;
        margin-bottom: 40px;
    }
}
.partners {
    position: relative;
    height: 70px;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }
    .swiper-initialized {
        .swiper-wrapper {
            gap: 0px;
        }
    }
    .swiper-slide {
        overflow: hidden;
        position: relative;
        background-size: cover;
        width: 14.58%;
        height: 100%;
    }
    .swiper-pagination.swiper-pagination-bullets {
        bottom: -55px;
    }
    &-img {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            max-width: 95%;
            max-height: 97%;
            object-fit: cover;
            opacity: 0.3;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            > img {
                opacity: 1;
            }
        }
    }
}
.main-articles {
    width: 100%;
    background: url(/public/src/images/victory/victory.jpg) no-repeat top center;
    background-size: cover;
    padding: 110px 0px 114px;
    .h2 {
        color: #fff;
        > span {
            color: $hover;
        }
    }
    .h2-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 38px;
        .h2-link {
            color: $hover;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 6px;
            border-bottom: 1px solid transparent;
            transition: all 0.15s ease-in-out;
            &:hover {
                border-bottom: 1px solid $hover;
            }
        }
    }
}
.articles {
    position: relative;
    .swiper-container {
        margin: -20px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        padding: 20px;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
    }
    .swiper-initialized {
        .swiper-wrapper {
            gap: 0px;
        }
    }
    .swiper-slide {
        border-radius: 13px;
        overflow: hidden;
        position: relative;
        background: #121317;
        background-size: cover;
        width: 48.75%;
        height: auto;
        transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        cursor: pointer;
        &:hover {
            background: #3973B2;
            box-shadow: 0px 10px 15px 0px #0000004D;
            img {
                opacity: 0.9;
            }
        }
        img {
            display: block;
            object-fit: cover;
            transition: all 0.15s ease-in-out;
            width: 100%;
        }
    }
    .swiper-pagination.swiper-pagination-bullets {
        bottom: -20px;
    }
    &-box {
        padding: 34px 34px 34px 40px;
    }
    &-head {
        font-family: "BebasNeue", sans-serif;
        color: #fff;
        font-size: 38px;
        line-height: 38px;
        letter-spacing: 0.4px;
        margin-bottom: 14px;
        /*overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;*/
    }
    &-text {
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        /*max-height: 80px;
        overflow: hidden;*/
        letter-spacing: -0.2px;
        margin-bottom: 15px;
    }
    &-date {
        font-weight: 200;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.1px;
        color: rgba(255, 255, 255, 0.7);
    }
}
.articles-list {
    .swiper-wrapper {
        flex-wrap: wrap;
    }
}
.article {
    &-h1 {
        font-family: "BebasNeue", sans-serif;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 1.2px;
        color: #fff;
        margin: 0px 0px 18px -1px;
    }
    &-info {
        display: flex;
        gap: 52px;
        margin-bottom: 25px;
    }
    &-date {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.2px;
        position: relative;
        padding-left: 28px;
        color: rgba(255, 255, 255, 0.7);
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            background: url(/public/src/images/svg/time.svg) no-repeat top center;
        }
    }
    &-views {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        position: relative;
        padding-left: 28px;
        color: rgba(255, 255, 255, 0.7);
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            background: url(/public/src/images/svg/views.svg) no-repeat top center;
        }
    }
    &-image {
        margin-bottom: 47px;
        overflow: hidden;
        border-radius: 10px;
    }
    &-text {
        font-size: 18px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        min-height: 100px;
        p, ul, ol {
            margin-bottom: 24px;
        }
        strong, b {
            color: #fff;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 34px;
            display: block;
        }
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        margin: 35px 0px 70px;
        align-items: center;
    }
    &-socs {
        display: flex;
        gap: 15px;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        align-items: center;
        &-name {
            margin-right: 2px;
        }
        .soc {
            width: 35px;
            height: 35px;
        }
    }
    &-author {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.2px;
        position: relative;
        padding-left: 28px;
        color: rgba(255, 255, 255, 0.7);
        > span {
            color: $hover;
            font-weight: normal;
        }
    }
    &-other {
        margin: 87px 0px 57px;
        .h2 {
            color: #fff;
            > span {
                color: $hover;
            }
        }
        .h2-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 38px;
            .h2-link {
                color: $hover;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 6px;
                border-bottom: 1px solid transparent;
                transition: all 0.15s ease-in-out;
                &:hover {
                    border-bottom: 1px solid $hover;
                }
            }
        }
    }
}
.main-contacts {
    position: relative;
    .contacts {
        display: flex;
        align-items: center;
        /*background: url(/public/src/images/contacts/back.jpg) no-repeat top center;*/
        background-size: cover;
        width: 100%;
        height: 816px;
        &-text {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: #fff;
        }
        &-box {
            width: 430px;
            background: rgba(0,0,0,0.45);
            padding: 60px 60px 57px 40px;
            border-radius: 10px;
            margin: 45px 0px 25px;
            &-item {
                display: flex;
                align-items: center;
                gap: 17px;
                margin-bottom: 15px;
                transition: all 0.15s ease-in-out;
                justify-content: flex-start;
                width: fit-content;
                &:last-child {
                    margin-bottom: 0px;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
            &-icon {
                display: block;
                width: 42px;
                height: 42px;
                border-radius: 10px;
                background: rgba(255,255,255,0.2);
                position: relative;
                overflow: hidden;
                &-phone:after {
                    content: '';
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -11px;
                    margin-left: -12px;
                    background: url(/public/src/images/contacts/phone.svg) no-repeat top center;
                }
                &-email:after {
                    content: '';
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -9px;
                    margin-left: -11px;
                    background: url(/public/src/images/contacts/email.svg) no-repeat top center;
                }
                &-soc1:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background: url(/public/src/images/contacts/tg.svg) no-repeat top center;
                }
                &-soc2:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background: url(/public/src/images/contacts/vk.svg) no-repeat top center;
                }
            }
        }
        &-phone {
            font-size: 24px;
            font-weight: 500;
            line-height: 100%;
            color: #fff;
            letter-spacing: -0.4px;
        }
        &-email {
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            color: #FF3636;
            letter-spacing: -0.4px;
        }
        &-soc {
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            color: #fff;
            letter-spacing: -0.4px;
        }
        &-button-wrap {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-top: 24px;
            .button {
                padding-left: 48px;
                padding-right: 48px;
            }
        }
        &-qr {
            width: 58px;
            height: 58px;
        }
    }
    .h2 {
        color: #fff;
        margin-bottom: 16px;
        margin-left: -1px;
    }
}
.body-page {
    .header {
        height: 113px;
    }
    .header-menu {
        border-bottom: 1px solid #333F4F;
    }
}
.page {
    padding: 187px 0px 70px;
    &-text {
        font-size: 18px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        min-height: 100px;
        p, ul, ol {
            margin-bottom: 24px;
        }
        strong, b {
            color: #fff;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 34px;
            display: block;
        }
    }
}
.texts {
    ul {
        list-style: disc;
         margin-left: 19px;
    }
    ol {
        list-style: auto;
         margin-left: 20px;
    }
}
.page-404 {
    color: #fff;
    h1 {
        margin: 30px 0px 20px 0px;
        font-size: 35px;
        font-weight: bold;
        line-height: 1;
    }
    h2 {
        margin: 0px 0px 30px 0px;
        font-size: 26px;
        line-height: 1;
    }
    h3 {
        margin: 0px 0px 20px 0px;
        font-size: 15px;
        line-height: 1;
        a {
            color: #a7acb2;
            &:hover {
                color: $hover;
            }
        }
    }
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 20px;
    font-weight: 300;
    letter-spacing: -0.1px;
    &-item {
        color: #fff;
        opacity: 0.95;
        position: relative;
        &:after {
            content: '/';
            position: absolute;
            right: -12px;
        }
        &:last-child:after {
            display: none;
        }
    }
    a {
        opacity: 0.6;
        &:hover {
            opacity: 1;
            color: $hover;
        }
    }
}
.not-found {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
    font-weight: 300;
    font-size: 15px;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 5px 0px 0px;
    gap: 20px;
    width: 100%;
	&-item, &-link {
        display: inline-block;
        padding: 5px 10px;
        color: #707A93;
        font-weight: bold;
        width: 42px;
        height: 42px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        border: 1px solid #747c85;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #dbdbdb;
        font-weight: 300;
        transition: all 0.15s ease-in-out;
		&.active, &:hover {
            opacity: 1;
            color: #4D4D4D;
			background: #fff;
            font-weight: normal;
		}
	}
	&-item-all {
		display: none;
	}
	&-link {
		color: transparent;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            margin-left: -7px;
            background: url(/public/src/images/svg/pagination-arrow-right.svg) no-repeat center center;
            background-size: contain;
            z-index: 3;
        }
	}
    &-link:hover {
        color: transparent;
        &:after {
            background: url(/public/src/images/svg/pagination-arrow-right-black.svg?v=2) no-repeat center center;
            background-size: contain;
        }
    }
    &-link-prev {
        &:after {
            transform: rotate(180deg);
            margin-left: -8px;
        }
    }
}
.volunteers {
    display: flex;
    flex-wrap: wrap;
    gap: 2.45%;
    margin-bottom: 17px;
    &-item {
        background: #1D242D;
        margin-bottom: 30px;
        color: #fff;
        width: 380px;
        width: 31.666666%;
        border-radius: 13px;
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 10px 15px 0px #0000004D;
        img {
            max-width: 100%;
        }
        &:hover {
            background: #121317;
            box-shadow: 0px 10px 15px 0px #0000004D;
            img {
                opacity: 0.9;
            }
        }
    }
    &-box {
        padding: 40px 24px 23px 41px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-name {
        font-family: "BebasNeue", sans-serif;
        color: #fff;
        font-size: 38px;
        line-height: 38px;
        letter-spacing: 0.2px;
        margin-bottom: 8px;
    }
    &-short {
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        padding-right: 10%;
    }
    &-medals {
        padding: 24px 24px 24px 41px;
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    &-medal {
        position: relative;
        padding-left: 31px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.7);
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 20px;
            height: 20px;
            background: url(/public/src/images/svg/medal.svg) no-repeat center center;
        }
    }
}
.modal-video {
     width: 90vw;
     max-width: 1120px;
}
