@media (max-width: 1680px) {
    .header-logo {
        left: 1%;
        margin-top: -6px;
    }
}
@media (max-width: 1580px) {
    .logo {
        width: 130px;
        height: 170px;
    }
    .container {
        width: 1160px;
    }
    .header-nav-item {
        font-size: 16px;
    }
    .header-info .phone {
        font-size: 17px;
    }
    .header-menu {
        .soc {
            width: 38px;
            height: 38px;
        }
    }
    .main-text {
        font-size: 88px;
        line-height: 80px;
    }
    .button {
        font-size: 17px;
        letter-spacing: 0.2px;
    }
    .h2 {
        font-size: 72px;
        line-height: 68px;
    }
    .main-projects-text, .main-projects-text p {
        font-size: 17px;
    }
    .main-projects-text strong {
        font-size: 19px;
        line-height: 25px;
    }
    .pay-form {
        width: 550px;
        padding-left: 75px;
    }
    .pay-box-head {
        font-size: 37px;
    }
    .main-back-text {
        font-size: 17px;
        line-height: 24px;
    }
    .main-back-logo {
        width: 301px;
        height: 290px;
    }
    .documents-head {
        font-size: 36px;
        line-height: 34px;
        max-height: 103px;
    }
    .documents-text {
        font-size: 16px;
    }
    .medication {
        .swiper-slide {
            padding: 35px 35px 0px 30px;
        }
        &-img {
            max-width: 225px;
            max-height: 285px;
        }
        &-head {
            font-size: 37px;
            line-height: 38px;
            max-width: 66%;
        }
        &-items {
            > span {
                font-size: 15px;
                line-height: 16px;
            }
        }
    }
    .articles {
        &-head {
            font-size: 37px;
        }
        &-text {
            font-size: 16.5px;
        }
    }
    .main-contacts {
        .contacts-text {
            font-size: 17px;
        }
        .contacts-phone {
            font-size: 22px;
        }
        .contacts-email, .contacts-soc {
            font-size: 19px;
        }
    }
    .footer {
        .logo {
            margin: -12px 10px -29px 0px;
        }
        &-menu-item {
            font-size: 17px;
        }
        &-copy {
            font-size: 13.5px;
        }
    }
    .pay-box-item {
        font-size: 17px;
    }
    .pay-box-item-input input {
        font-size: 19px;
    }
    .placeholder-wrap {
        .placeholder {
            font-size: 17px;
            &-act {
                font-size: 10px;
            }
        }
    }
    .h1 {
        font-size: 76px;
        line-height: 65px;
    }
    .articles {
        .swiper-slide {
            width: 48.55%;
        }
    }
    .breadcrumbs {
        font-size: 13.5px;
    }
    .article {
        &-h1 {
            font-size: 57px;
            line-height: 57px;
        }
        &-date {
            font-size: 14px;
            letter-spacing: 0.1px;
        }
        &-text {
            font-size: 17px;
            line-height: 23px;
            strong, b {
                font-size: 18px;
            }
        }
        &-author {
            font-size: 15.5px;
        }
        &-other {
            .h2 {
                font-size: 66px;
            }
            .h2-wrap .h2-link {
                font-size: 17px;
            }
        }
    }
    .page {
        &-text {
            font-size: 17px;
            line-height: 23px;
            strong, b {
                font-size: 18px;
            }
        }
    }
    .article-socs {
        font-size: 17px;
    }
    .volunteers {
        &-medals {
            padding: 21px 14px 21px 30px;
        }
        &-name {
            font-size: 35px;
            line-height: 35px;
        }
        &-short {
            font-size: 16px;
            line-height: 21px;
        }
        &-box {
            padding: 30px 15px 20px 30px;
        }
        &-medal {
            font-size: 15px;
            line-height: 19px;
            &:before {
                width: 18px;
                height: 18px;
                background-size: contain;
            }
        }
    }
    .header-nav {
        gap: 25px;
    }
}
@media (max-width: 1440px) {
    .container {
        width: 1060px;
    }
    .header-nav {
        gap: 20px;
    }
    .header-nav-item {
        font-size: 15px;
    }
    .header-info .phone {
        font-size: 16.5px;
    }
    .logo {
        width: 100px;
        height: 141px;
    }
    .header-logo {
        margin-top: -6px;
    }
    .header-menu .soc {
        width: 33px;
        height: 34px;
    }
    .header-info {
        gap: 13px;
    }
    .header.active {
        height: 65px;
    }
    .main-text {
        font-size: 78px;
        line-height: 70px;
    }
    .button {
        font-size: 16px;
        padding: 15px 27px 14px;
    }
    .h2 {
        font-size: 60px;
        line-height: 58px;
    }
    .main-projects-text {
        font-size: 15.5px;
        p, strong, ul {
            margin-bottom: 15px;
        }
        p {
            font-size: 15.5px;
        }
        strong {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .main-back-text {
        font-size: 15.5px;
        line-height: 24px;
    }
    .main-back-logo {
        width: 280px;
        height: 260px;
    }
    .pay {
        height: 780px;
    }
    .pay-box-link {
        min-height: 100px;
    }
    .pay-form {
        width: 500px;
        padding-left: 48px;
    }
    .pay-box-head {
        font-size: 35px;
    }
    .pay-form .button {
        font-size: 17px;
        padding: 15px 25px 14px;
    }
    .documents {
        height: 430px;
        &-img {
            max-height: 230px;
            max-width: 230px;
            left: 27px;
        }
        &-arrow {
            right: 21px;
        }
        &-head {
            font-size: 32px;
            line-height: 32px;
            max-height: 97px;
        }
        &-text {
            font-size: 15px;
            line-height: 22px;
            max-height: 45px;
        }
        .swiper-slide {
            padding: 31px 22px 0px 25px;
        }
    }
    .medication {
        height: 322px;
        &-head {
            font-size: 32px;
            line-height: 33px;
            max-width: 70%;
        }
        &-items {
            > span {
                font-size: 14px;
                line-height: 11px;
            }
        }
        &-img {
            max-width: 207px;
            max-height: 267px;
        }
        &-link {
            left: 32px;
            bottom: 34px;
            font-size: 16px;
        }
    }
    .main-articles .h2-wrap .h2-link {
        font-size: 17px;
    }
    .articles {
        &-head {
            font-size: 35px;
            line-height: 36px;
        }
        &-text {
            font-size: 15px;
            line-height: 22px;
        }
        &-date {
            font-size: 15px;
        }
        &-box {
            padding: 27px 27px 27px 30px;
        }
        .swiper-slide {
            width: 48.4%;
        }
    }
    .main-contacts {
        .contacts-text {
            font-size: 16px;
        }
        .contacts-phone {
            font-size: 21px;
        }
        .contacts-email, .contacts-soc {
            font-size: 18px;
        }
        .contacts {
            height: 700px;
        }
    }
    .volunteers {
        &-box {
            padding: 21px 11px 14px 23px;
        }
        &-medals {
            padding: 19px 12px 19px 22px;
        }
        &-name {
            line-height: 32px;
            font-size: 32px;
        }
        &-short {
            font-size: 15px;
            line-height: 20px;
        }
        &-medal {
            font-size: 14px;
            line-height: 17px;
            padding-left: 23px;
            &:before {
                width: 15px;
                height: 15px;
                margin-top: 2px;
            }
        }
    }
    .pay {
        height: 740px;
    }
    .breadcrumbs {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .article {
        &-h1 {
            font-size: 50px;
            line-height: 48px;
        }
        &-date {
            font-size: 13.5px;
        }
        &-text {
            font-size: 15.5px;
            line-height: 22px;
            strong, b {
                font-size: 16.5px;
                line-height: 24px;
            }
        }
        &-socs {
            font-size: 16px;
        }
        &-author {
            font-size: 14.5px;
        }
        &-other {
            h2 {
                font-size: 60px;
            }
        }
    }
    .container-small {
        width: 960px;
    }
}
@media (max-width: 1280px) {
    .container {
        width: 860px;
    }
    .logo {
        width: 70px;
        height: 108px;
        left: 1.7%;
    }
    .header-nav {
        gap: 15px;
    }
    .header-nav-item {
        font-size: 13px;
        letter-spacing: -0.2px;
    }
    .header-info {
        gap: 7px;
        .phone {
            font-size: 13.5px;
            margin-right: 6px;
        }
        .soc {
            width: 25px;
            height: 25px;
            min-width: 25px;
            border-radius: 2px;
        }
    }
    .main-text {
        font-size: 66px;
        line-height: 58px;
    }
    .main-qr {
        max-width: 75px;
        margin: 17px 0px 11px;
    }
    .button {
        font-size: 14.5px;
        padding: 10px 21px 11px;
    }
    .h2 {
        font-size: 52px;
        line-height: 48px;
    }
    .main-projects {
        padding: 128px 0px 122px;
        .h2 {
            margin-bottom: 22px;
        }
        .button-wrap {
            margin-top: 26px;
        }
        &-eagle {
            padding-right: 2%;
            &:before {
                width: 200px;
                height: 192px;
                left: -95px;
                top: -74px;
                background-size: contain;
            }
        }
    }
    .main-projects-text, .main-projects-text p {
        font-size: 13.5px;
        line-height: 20px;
    }
    .main-projects-text {
        strong {
            font-size: 14.5px;
            line-height: 21px;
        }
        p, strong, ul {
            margin-bottom: 10px;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        width: 22px;
        height: 42px;
        margin-top: -20px;
        left: -33px;
        &:after {
            background-size: 42%;
        }
    }
    .swiper-button-next {
        left: auto;
        right: -33px;
    }
    .videos {
        .video-play {
            width: 60px;
            height: 60px;
            background-size: contain;
        }
    }
    .modal-video {
        max-width: 89vw;
    }
    .pay {
        height: 660px;
    }
    .pay-form {
        width: 402px;
        padding-left: 33px;
        .h2 {
            font-size: 50px;
            line-height: 47px;
            margin-bottom: 23px;
        }
        .button {
            font-size: 15px;
            padding: 11px 22px 11px;
        }
    }
    .pay-box {
        padding: 16px 14px 16px 16px;
        &-items {
            margin-bottom: 15px;
        }
        &-item {
            width: 22.5%;
            font-size: 15.5px;
            letter-spacing: -0.1px;
            i {
                font-size: 15.5px;
                margin-top: 0px;
                margin-left: 1px;
            }
            input {
                font-size: 15.5px;
            }
        }
        &-item-input {
            width: 48.5%;
        }
        &-head {
            font-size: 31px;
        }
    }
    .placeholder-wrap {
        .placeholder {
            font-size: 16px;
            &-act {
                font-size: 10px;
            }
        }
    }
    .main-back {
        padding: 92px 0px 120px;
        &-text {
            font-size: 14.5px;
            line-height: 22px;
        }
    }
    .documents {
        height: 360px;
        margin-bottom: 130px;
        .swiper-slide {
            padding: 21px 19px 0px 19px;
            width: 31.42%;
        }
        .swiper-button-prev, .swiper-button-next {
            margin-top: 0px;
        }
        &-img {
            max-height: 204px;
            max-width: 175px;
            left: 20px;
        }
        &-head {
            font-size: 27px;
            line-height: 26px;
            max-height: 80px;
            margin-bottom: 7px;
        }
        &-text {
            font-size: 14px;
            line-height: 19px;
            max-height: 40px;
        }
        &-arrow {
            width: 36px;
            height: 36px;
            right: 10px;
            bottom: 17px;
            &:after {
                width: 16px;
                height: 16px;
                margin-top: -8px;
                margin-left: -8px;
                background-size: contain;
            }
        }
    }
    .medication-wrap {
        .h2 {
            margin-bottom: 35px;
        }
    }
    .medication {
        height: 280px;
        &-img {
            max-width: 166px;
            max-height: 212px;
        }
        &-head {
            font-size: 29px;
            line-height: 29px;
            max-width: 82%;
            margin-bottom: 16px;
        }
        .swiper-slide {
            padding: 21px 22px 0px 20px;
        }
        &-items {
            > span {
                font-size: 13px;
                line-height: 9px;
            }
        }
        .swiper-wrapper {
            gap: 20px;
        }
        &-link {
            left: 21px;
            bottom: 25px;
            font-size: 15px;
        }
    }
    .partners {
        height: 50px;
    }
    .main-articles {
        padding: 90px 0px 111px;
        .h2-wrap .h2-link {
            font-size: 16px;
        }
    }
    .articles {
        &-box {
            padding: 21px 21px 21px 25px;
        }
        &-head {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 7px;
        }
        &-date {
            font-size: 14px;
        }
    }
    .main-contacts {
        .contacts-phone {
            font-size: 19px;
        }
        .contacts-email, .contacts-soc {
            font-size: 17px;
        }
        .contacts-box-icon {
            width: 40px;
            height: 40px;
        }
        .contacts-box {
            width: 380px;
            padding: 43px 37px 34px 34px;
        }
        .contacts {
            height: 620px;
        }
    }
    .footer {
        padding: 56px 0px 60px;
        .logo {
            width: 100px;
            height: 117px;
            margin: -7px 25px 0px 0px;
            background-size: cover !important;
        }
        &-menu {
            gap: 30px;
        }
        .footer-menu-item {
            font-size: 14px;
            letter-spacing: -0.1px;
        }
        &-info {
            white-space: nowrap;
            .phone {
                font-size: 16px;
                margin-bottom: 17px;
            }
            .socs {
                .soc {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &-copy {
            font-size: 13px;
        }
        &-center {
            padding-right: 5%;
        }
    }
    .page {
        padding: 160px 0px 45px;
    }
    .breadcrumbs {
        font-size: 12px;
        margin-bottom: 17px;
    }
    .h1 {
        font-size: 60px;
        line-height: 52px;
        margin-bottom: 36px;
    }
    .articles {
        .swiper-wrapper {
            gap: 25px;
        }
    }
    .container-small {
        width: 860px;
    }
    .article {
        &-h1 {
            font-size: 48px;
            line-height: 47px;
        }
        &-image {
            margin-bottom: 37px;
        }
        &-text {
            font-size: 14.5px;
            strong, b {
                font-size: 15.5px;
                margin-bottom: 18px;
            }
            p, ul, ol {
                margin-bottom: 18px;
            }
        }
        &-socs {
            font-size: 15px;
        }
        &-author {
            font-size: 13.5px;
        }
        &-other {
            .h2 {
                font-size: 56px;
            }
            .h2-wrap {
                margin-bottom: 30px;
                .h2-link {
                    font-size: 16px;
                }
            }
        }
    }
    .page-text {
        font-size: 15px;
        line-height: 22px;
        strong, b {
            font-size: 15.5px;
            line-height: 25px;
        }
    }
    .volunteers {
        &-name {
            line-height: 28px;
            font-size: 27.5px;
            letter-spacing: -0.2px;
        }
        &-short {
            font-size: 14px;
            line-height: 18px;
        }
        &-box {
            padding: 17px 10px 14px 19px;
        }
        &-medal {
            font-size: 13.4px;
            line-height: 17px;
            padding-left: 21px;
            &:before {
                width: 13px;
                height: 13px;
                margin-top: 2px;
            }
        }
        &-medals {
            padding: 16px 12px 17px 18px;
        }
    }
}
@media (max-width: 1024px) {
    .container, .container-small {
        width: 820px;
    }
    .h2 {
        font-size: 50px;
        line-height: 46px;
    }
    .logo {
        width: 64px;
        height: 100px;
        left: 1.5%;
        margin-top: -18px;
    }
    .header-logo {
        margin-top: -15px;
    }
    .header-nav {
        gap: 10px;
    }
    .header-info .phone {
        font-size: 13.5px;
        margin-right: 4px;
        letter-spacing: -0.3px;
    }
    .main-text {
        font-size: 62px;
        line-height: 54px;
    }
    .main-projects-text {
        strong {
            font-size: 14px;
        }
    }
    .pay-form {
        width: 380px;
        padding-left: 30px;
        .h2 {
            font-size: 48px;
            line-height: 44px;
        }
    }
    .pay-box-item {
        height: 44px;
        font-size: 14px;
        i {
            font-size: 14px;
        }
        input {
            font-size: 15px;
        }
    }
    .placeholder-wrap {
        .placeholder {
            font-size: 15px;
            bottom: 13px;
            &-act {
                font-size: 10px;
                bottom: 34px;
            }
        }
    }
    .medication-items > span {
        font-size: 12px;
    }
    .articles {
        .swiper-slide {
            width: 48.3%;
        }
        &-head {
            font-size: 28px;
        }
        &-text {
            font-size: 13.5px;
            line-height: 19px;
        }
    }
    .breadcrumbs {
        font-size: 11px;
    }
    .article {
        &-h1 {
            font-size: 44px;
            line-height: 43px;
        }
        &-text {
            font-size: 14px;
            strong, b {
                font-size: 15px;
                line-height: 22px;
            }
        }
        &-socs {
            font-size: 14px;
        }
    }
    .page-text {
        font-size: 14px;
        strong, b {
            font-size: 15px;
            line-height: 22px;
        }
    }
    .article-other {
        .h2 {
            font-size: 52px;
        }
        .h2-wrap .h2-link {
            font-size: 15px;
        }
    }
    .volunteers-name {
        line-height: 26px;
        font-size: 25px;
    }
    .pay-box-head {
        font-size: 28px;
    }
}
@media (max-width: 960px) {
    .header-nav {
        display: none;
    }
    .header-logo {
        display: none;
    }
    .header-info-logo {
        display: block;
        background-size: cover !important;
        width: 127px;
        height: 174px;
        margin: 92px 0px 0px;
        transition: all 0.2s ease-in-out;
    }
    .header.active {
        .header-info-logo {
            width: 50px;
            height: 66px;
            margin: -2px 0px 0px -4px;
        }
    }
    .header-info {
        gap: 21px;
        .phone {
            width: 35px;
            height: 35px;
            overflow: hidden;
            display: flex;
            background: #494E64;
            color: transparent;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            margin: 0px;
            &:after {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                top: 50%;
                left: 50%;
                margin-top: -11px;
                margin-left: -11px;
                background: url(/public/src/images/svg/menu-phone.svg) no-repeat center center;
            }
        }
    }
    .container, .container-small {
        width: 820px;
        padding: 0px 30px;
        width: 100%;
    }
    .header-info {
        .soc {
            width: 35px;
            height: 35px;
        }
    }
    .mobile-menu-btn {
        background: #FF3434;
        background: linear-gradient(124.25deg, #FF3434 20.06%, #C20909 78.98%);
        width: 45px;
        height: 45px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        position: relative;
        cursor: pointer;
        > span {
            display: block;
            width: 20px;
            height: 20px;
            background: url(/public/src/images/svg/menu-lines.svg) no-repeat center center;
        }
        &.active {
            > span {
                background: url(/public/src/images/svg/menu-close.svg) no-repeat center center;
            }
        }
    }
    .header {
        height: 90px;
    }
    .button-wrap {
        background: none;
        padding: 0px;
        .main-qr {
            display: none;
        }
    }
    .main-text {
        font-size: 55px;
        line-height: 53px;
        margin: 0px;
        &:before {
            width: 13px;
            height: 13px;
            left: -11px;
            top: -9px;
            background-size: contain;
        }
        > span:after {
            width: 13px;
            height: 13px;
            right: -15px;
            bottom: 2px;
            background-size: contain;
        }
    }
    .button {
        font-size: 16px;
        padding: 17px 37px 16px;
    }
    .columns {
        flex-wrap: wrap;
        .column {
            width: 100%;
        }
    }
    .main-projects-eagle {
        padding: 0px;
        position: relative;
        padding-bottom: 24px;
        margin-bottom: 45px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -33px;
            width: 119%;
            height: 1px;
            background: #252e3d;
            opacity: 0.5;
        }
        &:before {
            width: 100px;
            height: 103px;
            left: auto;
            right: 29px;
            top: -50px;
            background-size: contain;
            opacity: 0.6;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .h2 {
        font-size: 45px;
        line-height: 43px;
    }
    .h2-quot {
        &:before {
            width: 13px;
            height: 13px;
            left: -11px;
            top: -9px;
            background-size: contain;
        }
        &:after {
            width: 13px;
            height: 13px;
            right: -15px;
            bottom: -6px;
            background-size: contain;
        }
    }
    .main-projects {
        .h2 {
            margin-bottom: 18px;
        }
        &-text {
            padding: 0px;
            strong {
                font-size: 16px;
                line-height: 22px;
                padding-right: 10.3%;
            }
            p:first-child {
                padding: 0px 4.1% 0px 0px;
            }
        }
        &-text, p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    .button-wrap {
        margin-top: 23px;
        .button {
            padding: 17px 27px 16px;
        }
    }
    .projects {
        .swiper-wrapper {
            display: flex;
            gap: 10px;
        }
        .swiper-initialized {
            overflow: visible;
            .swiper-wrapper {
                gap: 0px;
            }
        }
    }
    .videos {
        margin-top: 21px;
        .swiper-initialized {
            overflow: visible;
        }
        .swiper-slide {
            width: 100%;
        }
    }
    .main-projects-columns {
        margin-bottom: 87px;
    }
    .swiper-pagination.swiper-pagination-bullets {
        bottom: -33px;
    }
    .pay {
        height: auto;
        display: block;
        &-left {
            height: 212px;
        }
        &-left, &-right {
            width: 100%;
        }
        &-form {
            padding: 54px 20px;
            width: 100%;
            .button {
                font-size: 16px;
                padding: 16px 22px 11px;
                width: 100%;
                height: 55px;
                text-align: center;
                text-shadow: 1px 1px 1px #999999;
                font-weight: 300;
            }
        }
        .h2 {
            margin-bottom: 20px;
        }
        &-box {
            padding: 18px;
            &-items {
                gap: 1%;
                margin-bottom: 12px;
                justify-content: space-between;
            }
            &-item {
                width: 32.2%;
                height: 50px;
                font-size: 18px;
                margin-bottom: 5px;
                &-input {
                    width: 100%;
                }
                i {
                    font-size: 16px;
                }
            }
            &-qr {
                display: none;
            }
            &-link {
                min-height: 80px;
                padding-right: 18px;
            }
            &-head {
                font-size: 30px;
                letter-spacing: 1px;
            }
            &-arrow {
                height: 20px;
            }
            &-arrow-mobile {
                display: block;
            }
        }
    }
    .placeholder-wrap {
        .placeholder {
            font-size: 17px;
            bottom: 16px;
            &-act {
                font-size: 10px;
                bottom: 34px;
            }
        }
    }
    .main-back {
        padding: 65px 0px 107px;
        .h2-back {
            margin-bottom: 21px;
            &:before {
                width: 13px;
                height: 13px;
                left: -11px;
                top: -9px;
                background-size: contain;
            }
            > span {
                &:after {
                    width: 13px;
                    height: 13px;
                    right: -12px;
                    bottom: -5px;
                    background-size: contain;
                }
            }
            &-text {
                font-size: 15px;
                line-height: 20px;
            }
        }
        &-logo {
            display: none;
        }
    }
    .documents {
        height: 370px;
        margin-bottom: 97px;
        margin-top: 30px;
        .swiper-slide {
            width: 100%;
            padding: 16px 16px 0px 19px;
        }
        &-head {
            font-size: 30px;
            line-height: 30px;
            max-height: 92px;
        }
        &-text {
            font-size: 15px;
        }
        .swiper-pagination {
            display: block;
            bottom: -52px;
        }
    }
    .medication-wrap {
        .h2 {
            margin-bottom: 23px;
        }
    }
    .medication {
        .swiper-slide {
            width: 100%;
            padding: 21px 13px 0px 20px;
        }
        &-head {
            max-width: 100%;
            font-size: 30px;
            br {
                display: none;
            }
        }
        &-img {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .container, .container-small {
        padding: 0px 20px;
    }
    .main-desktop {
        display: none;
    }
    .main-mobile {
        display: flex;
        align-items: flex-start;
        padding-top: 43%;
    }
    .header-info {
        gap: 15px;
    }
    .header-info-logo {
        width: 94px;
        height: 125px;
        margin: 48px 0px 0px;
    }
    .main-projects {
        padding: 66px 0px 86px;
    }
}
@media (max-width: 375px) {
    .main-text {
        font-size: 53px;
        line-height: 48px;
    }
}
