// - 100 - Thin (Тонкий)
// - 200 - Extra Light (Ультратонкий)
// - 300 - Light (Легкий)
// - 400 - Regular (Обычный)
// - 500 - Medium (Средний)
// - 600 - Semi Bold (Полужирный)
// - 700 - Bold (Жирный)
// - 800 - Extra Bold (Ультражирный)
// - 900 - Black (Черный)

@font-face {
    font-family: 'Inter';
    src: local('InterRegularLocal'),
  	   url('/public/src/fonts/Inter-Regular.woff2') format('woff2'),
  	   url('/public/src/fonts/Inter-Regular.woff') format('woff'),
  	   url('/public/src/fonts/Inter-Regular.ttf') format('ttf'),
  	   url('/public/src/fonts/Inter-Regular.eot?#iefix') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('InterBoldLocal'),
  	   url('/public/src/fonts/Inter-Bold.woff2') format('woff2'),
  	   url('/public/src/fonts/Inter-Bold.woff') format('woff'),
  	   url('/public/src/fonts/Inter-Bold.ttf') format('ttf'),
  	   url('/public/src/fonts/Inter-Bold.eot?#iefix') format('eot');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('InterMediumLocal'),
  	   url('/public/src/fonts/Inter-Medium.woff2') format('woff2'),
  	   url('/public/src/fonts/Inter-Medium.woff') format('woff'),
  	   url('/public/src/fonts/Inter-Medium.ttf') format('ttf'),
  	   url('/public/src/fonts/Inter-Medium.eot?#iefix') format('eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('InterLightLocal'),
  	   url('/public/src/fonts/Inter-Light.woff2') format('woff2'),
  	   url('/public/src/fonts/Inter-Light.woff') format('woff'),
  	   url('/public/src/fonts/Inter-Light.ttf') format('ttf'),
  	   url('/public/src/fonts/Inter-Light.eot?#iefix') format('eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('InterThinLocal'),
  	   url('/public/src/fonts/Inter-Thin.woff2') format('woff2'),
  	   url('/public/src/fonts/Inter-Thin.woff') format('woff'),
  	   url('/public/src/fonts/Inter-Thin.ttf') format('ttf'),
  	   url('/public/src/fonts/Inter-Thin.eot?#iefix') format('eot');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

// - 100 - Thin (Тонкий)
// - 200 - Extra Light (Ультратонкий)
// - 300 - Light (Легкий)
// - 400 - Regular (Обычный)
// - 500 - Medium (Средний)
// - 600 - Semi Bold (Полужирный)
// - 700 - Bold (Жирный)
// - 800 - Extra Bold (Ультражирный)
// - 900 - Black (Черный)

@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeueLocal'),
  	   url('/public/src/fonts/BebasNeue.woff2') format('woff2'),
  	   url('/public/src/fonts/BebasNeue.woff') format('woff'),
  	   url('/public/src/fonts/BebasNeue.ttf') format('ttf'),
  	   url('/public/src/fonts/BebasNeue.eot?#iefix') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
