#modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999999999;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}
#modal-mod {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9995;
    background: #fff;
    border-radius: 13px;
}
#modal-black {
    width: 100%;
    height: 100%;
}
#modal-close {
    cursor: pointer;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    -webkit-transition: all 0.6s
    ease-out;
    transition: all 0.6s
    ease-out;
    background: url(/public/src/images/close.svg) no-repeat top center;
    background-size: cover;
}
#modal-close:hover {
    opacity: 0.6;
}
#modal-modbox {
    padding: 37px 38px 34px 34px;
    color: #223846;
    text-align: center;
    line-height: 1.7em;
    font-size: 16px;
    min-width: 200px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 89vw;
        max-height: 89vh;
    }
}
.anime-mod {
    opacity: 0;
    -webkit-transform: translateX(0px) translateY(20px) translateZ(0px);
    -moz-transform: translateX(0px) translateY(20px) translateZ(0px);
    -ms-transform: translateX(0px) translateY(20px) translateZ(0px);
    -o-transform: translateX(0px) translateY(20px) translateZ(0px);
    transform: translateX(0px) translateY(20px) translateZ(0px);
    -webkit-transition: opacity 600ms, -webkit-transform 400ms;
    -moz-transition: opacity 600ms, transform 400ms;
    -ms-transition: opacity 600ms, transform 400ms;
    -o-transition: opacity 600ms, transform 400ms;
    transition: opacity 600ms, transform 400ms;
}
.anime-mod-show {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(0px);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px);
    -o-transform: translateX(0px) translateY(0px) translateZ(0px);
    transform: translateX(0px) translateY(0px) translateZ(0px);
}
